<ion-header>
    <ion-toolbar>
  <!-- back button / Icon -->
        <ion-button slot="start" color="light" routerLink="/tabs/tab2">
          <ion-back-button></ion-back-button>
          <ion-icon name="return-left"></ion-icon>
        </ion-button>
  
      <!-- (link to page 6) Stats Page button / Icon-->
        <ion-button slot="end" color="light" routerLink="/tabs/tab6">
          <ion-icon name="stats"></ion-icon>
        </ion-button>
  
      <ion-title>Axes & Greataxes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <!-- Battle Axe info -->
          <table style="width:100%">
              <tr>
                 <td>
                   <ion-card>
                    <ion-img style="width: auto; height: auto;" src="../../assets/battleaxe.jpg" 
                      routerLink="/tabs/tab3" ion-button>
                    </ion-img>
                  </ion-card>
                  </td>
                  <td>
                    <h4>
                      Battle Axe:  
                    </h4>
                  </td>
                  <td>
                    <p>
                        Easily-wielded axe crafted for battle and inflicting standard damage.
                        It's weight can be used to inflict high damage, but must be used carefully 
                        as it leaves its wielder open to retaliation.
                    </p>
                    <ion-list class="stats">
                      <ion-item class="base">
                        - Base Damage: 125
                      </ion-item>
                      <ion-item class="crit">
                        - Critical: 100
                      </ion-item>
                      <ion-item class="weight">
                        - Weight: 4
                      </ion-item>
                      <ion-item class="scale">
                          - Strength Scaling: D
                      </ion-item>
                    </ion-list>
                  </td>
              </tr>
             </table>
      </ion-item>
  <!-- DS's GS info-->
      <ion-item>
            <table style="width:100%">
                <tr>
                   <td>
                     <ion-card>
                      <ion-img style="width: auto; height: auto;" src="../../assets/curvedaxe.jpg" 
                        routerLink="/tabs/tab3" ion-button>
                      </ion-img>
                    </ion-card>
                    </td>
                    <td>
                      <h4>
                        Dragonslayer's Greataxe:  
                      </h4>
                    </td>
                    <td>
                      <p>
                          Melted iron greataxe that once formed part of the Dragonslayer Armour.
                          Thickly imbued with the power of lightning. Use skill to draw upon the 
                          techniques used to slay the archdragons.
                      </p>
                      <ion-list class="stats">
                        <ion-item class="base">
                          - Base Damage: 203
                        </ion-item>
                        <ion-item class="crit">
                          - Critical: 100
                        </ion-item>
                        <ion-item class="weight">
                          - Weight: 20
                        </ion-item>
                        <ion-item class="scale">
                            - Strength Scaling: D
                        </ion-item>
                      </ion-list>
                    </td>
                </tr>
               </table>
      </ion-item>
  <!-- Hand Axe info -->
      <ion-item>
          <table style="width:100%">
              <tr>
                 <td>
                   <ion-card>
                    <ion-img style="width: auto; height: auto;" src="../../assets/handaxe.jpg" 
                      routerLink="/tabs/tab3" ion-button>
                    </ion-img>
                  </ion-card>
                  </td>
                  <td>
                    <h4>
                      Hand Axe:  
                    </h4>
                  </td>
                  <td>
                    <p>
                      A crude hand-axe that serves both as a weapon, and a tool of many uses.
                    </p>
                    <ion-list class="stats">
                      <ion-item class="base">
                        - Base Damage: 110
                      </ion-item>
                      <ion-item class="crit">
                        - Critical: 100
                      </ion-item>
                      <ion-item class="weight">
                        - Weight: 2.5
                      </ion-item>
                      <ion-item class="scale">
                          - Strength Scaling: D
                      </ion-item>
                    </ion-list>
                  </td>
              </tr>
             </table>
      </ion-item>
  <!-- Gundyr's Halberd info-->
      <ion-item>
          <table style="width:100%">
              <tr>
                 <td>
                   <ion-card>
                    <ion-img style="width: auto; height: auto;" src="../../assets/gundyr.jpg" 
                      routerLink="/tabs/tab3" ion-button>
                    </ion-img>
                  </ion-card>
                  </td>
                  <td>
                    <h4>
                      Gundyr's Halberd:  
                    </h4>
                  </td>
                  <td>
                    <p>
                        Halberd of Gundyr the Champion, received when he was charged with his duty.
                        This old cast-iron halberd has the power to break poise, and is said to never 
                        crumble, seeming to suggest that Gundyr was fated to eternal service from the beginning. 
                    </p>
                    <ion-list class="stats">
                      <ion-item class="base">
                        - Base Damage: 145
                      </ion-item>
                      <ion-item class="crit">
                        - Critical: 100
                      </ion-item>
                      <ion-item class="weight">
                        - Weight: 13
                      </ion-item>
                      <ion-item class="scale">
                          - Strength Scaling: C
                      </ion-item>
                    </ion-list>
                  </td>
              </tr>
             </table>
      </ion-item>
    <!-- Eleonora info-->
      <ion-item>
          <table style="width:100%">
              <tr>
                 <td>
                   <ion-card>
                    <ion-img style="width: auto; height: auto;" src="../../assets/twinblade.jpg" 
                      routerLink="/tabs/tab3" ion-button>
                    </ion-img>
                  </ion-card>
                  </td>
                  <td>
                    <h4>
                      Eleonora:  
                    </h4>
                  </td>
                  <td>
                    <p>
                        A strange weapon found among malformed inhabitants of the Profaned Capital.
                        The Profaned Flame was triggered by the curse of these women, relatives of 
                        a certain oracle, but despite their culpability, they went on living, without 
                        any cares.
                    </p>
                    <ion-list class="stats">
                      <ion-item class="base">
                        - Base Damage: 156
                      </ion-item>
                      <ion-item class="crit">
                        - Critical: 100
                      </ion-item>
                      <ion-item class="weight">
                        - Weight: 6.5
                      </ion-item>
                      <ion-item class="scale">
                          - Strength Scaling: D
                        </ion-item>
                    </ion-list>
                  </td>
              </tr>
             </table>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <!-- Logout -->
  <ion-button routerLink="/tabs/tab1" small color="dark">Log Out</ion-button>