.ion-card {
    position: relative;
    text-align: center;
    height: 100px;
}

.ion-img {
    height: 100px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    size: auto;
}

