<ion-header>
  <ion-toolbar>
<!-- Back Button -->
      <ion-button slot="start" color="light" routerLink="/tabs/tab2">
        <ion-back-button></ion-back-button>
        <ion-icon name="return-left"></ion-icon>
      </ion-button>
<!-- Button to Page 6 (Stats page) -->
      <ion-button slot="end" color="light" routerLink="/tabs/tab6">
        <ion-icon name="stats"></ion-icon>
      </ion-button>

    <ion-title>Swords & Greatswords</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
<!-- Barded Straight sword info -->
    <ion-item>
        <table style="width:100%">
            <tr>
               <td>
                 <ion-card>
                  <ion-img style="width: auto; height: auto;" src="../../assets/Barbed.jpg" 
                    routerLink="/tabs/tab3" ion-button>
                  </ion-img>
                </ion-card>
                </td>
                <td>
                  <h4>
                    Barbed Straightsword:  
                  </h4>
                </td>
                <td>
                  <p>
                      Sword of Longfinger Kirk, the infamous Knight of Thorns. 
                      This sword's blade is lined with countless deadly thorns.
                  </p>
                  <ion-list class="stats">
                    <ion-item class="base">
                      - Base Damage: 111
                    </ion-item>
                    <ion-item class="crit">
                      - Critical: 100
                    </ion-item>
                    <ion-item class="weight"> 
                      - Weight: 3
                    </ion-item>
                    <ion-item class="scale">
                        - Strength Scaling: D
                    </ion-item>
                  </ion-list>
                </td>
            </tr>
           </table>
    </ion-item>

<!-- Claymore info -->
    <ion-item>
          <table style="width:100%">
              <tr>
                 <td>
                   <ion-card>
                    <ion-img style="width: auto; height: auto;" src="../../assets/claymore.jpg" 
                      routerLink="/tabs/tab3" ion-button>
                    </ion-img>
                  </ion-card>
                  </td>
                  <td>
                    <h4>
                      Claymore:  
                    </h4>
                  </td>
                  <td>
                    <p>
                        An unusually large and heavy greatsword normally wielded with two hands.
                        This highly versatile weapon can be swung broadly or thrusted.
                    </p>
                    <ion-list class="stats">
                      <ion-item class="base">
                        - Base Damage: 138
                      </ion-item>
                      <ion-item class="crit">
                        - Critical: 100
                      </ion-item>
                      <ion-item class="weight">
                        - Weight: 9
                      </ion-item>
                      <ion-item class="scale">
                          - Strength Scaling: D
                      </ion-item>
                    </ion-list>
                  </td>
              </tr>
             </table>
    </ion-item>
<!-- Dancer's swords info -->
    <ion-item>
        <table style="width:100%">
            <tr>
               <td>
                 <ion-card>
                  <ion-img style="width: auto; height: auto;" src="../../assets/Dancer.jpg" 
                    routerLink="/tabs/tab3" ion-button>
                  </ion-img>
                </ion-card>
                </td>
                <td>
                  <h4>
                    Dancer's Twinswords:  
                  </h4>
                </td>
                <td>
                  <p>
                    Paired enchanted swords that Pontiff Sulyvahn 
                    bestowed upon the Dancer of the Boreal Valley.
                  </p>
                  <ion-list class="stats">
                    <ion-item class="base">
                      - Base Damage: 79
                    </ion-item>
                    <ion-item class="crit">
                      - Critical: 100
                    </ion-item>
                    <ion-item class="weight">
                      - Weight: 8.5
                    </ion-item>
                    <ion-item class="scale">
                        - Strength Scaling: D
                    </ion-item>
                  </ion-list>
                </td>
            </tr>
           </table>
    </ion-item>
<!-- firelink sword info -->
    <ion-item>
        <table style="width:100%">
            <tr>
               <td>
                 <ion-card>
                  <ion-img style="width: auto; height: auto;" src="../../assets/firelink.jpg" 
                    routerLink="/tabs/tab3" ion-button>
                  </ion-img>
                </ion-card>
                </td>
                <td>
                  <h4>
                    Firelink Greatsword:  
                  </h4>
                </td>
                <td>
                  <p>
                      The Lords of Cinder linked the First Flame, 
                      and this Greatsword was wielded by their deific manifestation. 
                  </p>
                  <ion-list class="stats">
                    <ion-item class="base">
                      - Base Damage: 128
                    </ion-item>
                    <ion-item class="crit">
                      - Critical: 100
                    </ion-item>
                    <ion-item class="weight">
                      - Weight: 9
                    </ion-item>
                    <ion-item class="scale">
                        - Strength Scaling: D
                    </ion-item>
                  </ion-list>
                </td>
            </tr>
           </table>
    </ion-item>
<!-- Katana info-->
    <ion-item>
        <table style="width:100%">
            <tr>
               <td>
                 <ion-card>
                  <ion-img style="width: auto; height: auto;" src="../../assets/uchigatana.jpg" 
                    routerLink="/tabs/tab3" ion-button>
                  </ion-img>
                </ion-card>
                </td>
                <td>
                  <h4>
                    Uchigatana:  
                  </h4>
                </td>
                <td>
                  <p>
                    A unique katana characterized by the fine craftsmanship
                    of an eastern land where it was forged. 
                    The finely-sharpened blade cuts flesh like butter and 
                    causes bleeding, but breaks easily as a result.
                  </p>
                  <ion-list class="stats">
                    <ion-item class="base">
                      - Base Damage: 115
                    </ion-item>
                    <ion-item class="crit">
                      - Critical: 100
                    </ion-item>
                    <ion-item class="weight">
                      - Weight: 5.5
                    </ion-item>
                    <ion-item class="scale">
                        - Strength Scaling: E
                      </ion-item>
                  </ion-list>
                </td>
            </tr>
           </table>
    </ion-item>
  </ion-list>
</ion-content>

<!-- logout button -->
<ion-button routerLink="/tabs/tab1" small color="dark">Log Out</ion-button>
