// .bg {
//     --background: url('../../assets/graphbgr.jpg') no-repeat center center fixed;
//     --background-size: cover;
//   }
  
//   .ion-toolbar {
//     --ion-toolbar-background-color: transparent;
//     --ion-toolbar-text-color: white;
//   }
  
//   .no-scroll .scroll-content {
//     overflow: hidden;
//   }
  
//   div {
//     --ion-list-background-color: transparent;
//     --ion-color-base: transparent;
//    }
  
//    .ion-input {
//     --ion-list-color: transparent;
//     --ion-color-base: transparent;
//    }

   .ion-item {
       margin-left: 50%;
       margin-right: auto;
       text-align: center;
   }